/* Grunddesign */
body {
    font-family: sans-serif;
    background-color: #3dbb6b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    gap: 30px;
    width: 80%;
    max-width: 1200px;
    height: 70vh;
}

aside {
    background: rgb(146, 221, 161);
    padding: 25px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

h2 { font-size: 1.2rem; color: #333; }

/* Eingabefelder & Buttons */
input {
    padding: 10px;
    border: 2px solid #878383;
    border-radius: 8px;
    margin-bottom: 10px;
}

.btn {
    padding: 13px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.1s;
}

.input-preview {
    margin-top: 15px;
    background: rgba(255, 255, 255, 0.5); 
    padding: 10px;
    border-radius: 8px;
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    max-height: 200px; 
}

.input-preview h3 {
    font-size: 0.9rem;
    margin: 0 0 5px 0;
    color: #2d6a4f; 
}

#previewList {
    padding: 0;
    margin: 0;
    overflow-y: auto; 
    font-style: italic;
    font-size: 0.85rem;
    color: #444;
}

#previewList li {
    background: none;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    padding: 4px 0;
    margin-bottom: 0;
}

.btn:active { transform: scale(0.93); }

.add-btn { background-color: #3e793fe1; color: white; }
.start-btn { background-color: #ff4757; color: white; margin-top: 20px; font-size: 1.1rem; }
.save-btn { background-color: #4c5a7798; color: white; margin-top: auto; margin-bottom: 5px; }
.load-btn { background-color: #383b40; color: white; }

/* Der Korb */
.drawing-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.basket {
    position: relative;
    width: 300px;  
    height: 220px; 
    background: #d35400; 
    border-radius: 0 0 80px 80px; 
    border: 10px solid #a04000;   
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

.basket-handle {
    position: absolute;
    top: -80px;    
    width: 180px;  
    height: 120px; 
    border: 10px solid #a04000;
    border-radius: 50% 50% 0 0;
    z-index: -1;
}

.basket-label {
    color: rgb(255, 149, 78);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

ul {
    padding: 0;
    overflow-y: auto;
}

li {
    background: #f1f2f6;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 5px;
    font-size: 0.9rem;
}